[submodule "third_party/DirectX-Headers"]
	path = third_party/DirectX-Headers
	url = https://github.com/microsoft/DirectX-Headers
[submodule "third_party/D3D12MemoryAllocator"]
	path = third_party/D3D12MemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/D3D12MemoryAllocator
